
/* .mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


.mulish {
  font-family: "Mulish", sans-serif;
}

nav li a{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar{
  width: 50px;
    height: 50px;
    background-color: white;
}

nav li img{
    width: 100%;
}

.hero{
    background-color: rgba(18, 19, 45, 1);
}

.hero-right div h4{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.color{
  color: rgba(18, 19, 45, 1);
}

.color2{
  color: rgba(18, 19, 45, 0.6);
}

.bgr-color{
  background-color: rgba(243, 243, 245, 1);
}

.post-icon p{
  display: flex;
  gap: 20px;
}

.footer-bg{
  background: linear-gradient(180.00deg, rgba(18, 19, 45, 0.05),rgba(18, 19, 45, 0) 100%);
}

